.edit-user-info-container {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .edit-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
  }
}
